<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head::head"/>


    <title th:text="'giflib | ' + ${gif.name}">Kwejk</title>
    <script type="text/javascript">
       $(document).ready(function(){
           $("#hello").click(function(){
           $("#hello").removeClass("mark");
           $("#hello").addClass("unmark");
       })
       });
       </script>

</head>
<body>
<div th:replace="fragments/menu::menu"/>
<div class="gif-detail container">
    <div class="frame row">
        <div class="col s12">
            <img th:src="@{'/gifs/' + ${gif.name} + '.gif'}" alt="gif" />
            <a href="#" th:class="(${gif.favorite} ? 'un' : '') + 'mark favorite'"></a>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l6">
            <div class="meta row">
                <div class="col s3">
                    <img class="circle" src="http://api.adorable.io/avatars/205/avatar" alt="avatar" />
                    <p th:text="${gif.username}"></p>
                </div>
                <div class="col s9">

                </div>
            </div>
        </div>
        <div class="col s12 l6">
            <div class="share">
                <a class="btn right" href="#">Copy</a>
                <span th:text="'http://gif.fy/' + ${gif.name}">URL</span>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/vendor/jquery/jquery-1.11.3.js}"></script>
<script th:src="@{/vendor/materialize/js/materialize.js}"></script>
<script th:src="@{/app.js}"></script>

<div th:replace="fragments/footer::footer"/>

</body>
</html>